extends ../application.pug

block content
	.container
		br
		.card.card-block
			.row
				.col-xs-4
					img(src=book.imageURL width="200" height="300" alt=book.title + 'Cover Image' class="image-fluid")
				.col-xs-8
					h2= book.title
					h4= book.author
					p= book.description
						.row
							.col-xs-3.offset-xs-6
								a(href="/books/" + book.id +"/edit" class="btn btn-warning btn-block") Edit Book
							.col-xs-3
								form(action="/books/" + book.id method="POST")
									input(type="hidden" name="_method" value="DELETE")
									button(type="submit" class="btn btn-danger ny-book-delete-button" data-book=book.id) Delete Book
